* {
  font-family: 'Lato', sans-serif;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  background-image: url(assets/background_img.jpg);  
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-content {
  box-sizing: border-box;
  border: solid #1c2a43 2px;
  border-radius: 10px;
  width: 500px;
  height: 600px; 
  background-color: white;
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.content-title {
  margin-top: 50px;
  font-size: 45px;
  text-align: center;
}

.buttons {
  position: relative;
  width: 250px;
  height: 325px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.btn-block {
  font-size: 25px;
  text-align: center;
  border: solid #1c2a43 1px;
  border-radius: 10px;
  color:white;
  background-color:  #408d8d; 
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-block:hover {
  background-color: #1c2a43;
  color: white;
}

.glyphicon {
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form {
  margin-top: 60px;
}

.form-group {
  margin: auto;
  width: 300px;
  font-size: 20px;
}

.form-control {
  height: 50px;
  color: red;
}

#sign-up-next-btn {
  font-size: 28px;
  width: 100px;
  height: 50px;
  margin-left: 100px;
  margin-top: 50px;
}

#due-date-input {
  margin-top: 15px;
}

#submit-title-btn {
  width: 100px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

#addItem {
  width: 100px;
  height: 40px;
  margin-left: 100px;
  margin-top: 10px;
  font-size: 20px;
}

.items {
  margin: auto;
  text-align: center;
  list-style-type: none;
  font-size: 20px;
}

.nav-buttons {
  position: absolute;
  margin-left: auto;
}