<h1 tabindex='-1' class='content-title' id='content-title'>
  <script>$('#content-title').text(FormData.listTitle);</script>
</h1>

<form class='form' aria-label='add item form' id='add-item-form'>
  <div class='form-group'>
    <label for='listItem' aria-hidden='true' class='listItem'>Item:</label>
    <input aria-label='enter to-do item' class='form-control' type='text' id='item'>
    <div class='form-btn-container'>
      <button aria-label='add item' class='btn btn-primary glyphicon glyphicon-plus' id='addItem'></button>
    </div>
  </div>
</form>

<section >
  <ul aria-role='list' class='items' id='item-list-create-page'>
  </ul>
</section>

<div class='view-page-btns'>
  <button aria-label='next' class='complete-list-btn' id='items-done'>
      <span class='glyphicon glyphicon-check'></span>
  </button>
</div>

<div class='nav-buttons'>
  <button aria-label='back' class='view-lists-btn'>
    <span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span>
  </button>
  <button aria-label='sign out'  class='logged-in pull-right' id='signout-btn'>
    <span class='glyphicon glyphicon-log-out' aria-hidden='true'></span>
  </button>
</div>

<script src='scripts/auth.js'></script>
<script src='scripts/app.js'></script> 
<script src='scripts/index.js'></script>
