
<h1 class="content-title" id="content-title">List Title</h1>

<form class="form" id="add-item-form">
  <div class="form-group">
    <label for="listItem" class="listItem">Item:</label>
    <input class="form-control" type="text" id="item">
    <button class="btn btn-primary" id="addItem">Add Item</button>
  </div>
</form>

<section class="items" id="item-list-create-page">
  <li></li> 
</section>

<div class="complete-list-btn" id="#add-items-complete">
  <button class="btn">Next</button>
</div>

<script src="scripts/auth.js"></script>
<script src="scripts/app.js"></script> 
<script src="scripts/index.js"></script>
