<div class="main">
    <p class="content-title">Create List</h1>

  <form>
    <div class="form-group">
      <label for="listTitle" class="formTitle">List Name:</label>
      <input class="form-control" type="text" id="listName">
      <label for='dueDate' class="formDueDate">Due Date</label>
      <input class="form-control" type="text" id='dueDate'>
      <a class="btn btn-primary glyphicon glyphicon-arrow-right" href="views/create-list-items.html" role="button" id="nextBtn" aria-label="next">
      </a>
    </div>
  </form>
</div>