<h1 tabindex='-1' class='content-title' id='content-title'></h1>

<section>
  <ul class='items' id='item-list' aria-role='list'></ul>
</section>

<div class='view-page-btns'>
  <button aria-label='add item' id='add-item-from-view-page'>
    <span class='plus glyphicon glyphicon-plus' aria-hidden='true'></span>
  </button>
</div>

<footer class='nav-buttons'>
  <button aria-label='view lists' class='view-lists-btn'>
    <span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span>
  </button>
  <button aria-label='sign out' class='logged-in pull-right' id='signout-btn'>
    <span class='glyphicon glyphicon-log-out' aria-hidden='true'></span>
  </button>
</footer>

<script src='scripts/auth.js'></script>
<script src='scripts/app.js'></script> 
<script src='scripts/index.js'></script>

