<section class="main">
  <h1 class="title">Sign In<br></h1>

<form id="signin-form">
  <div class="form-group">
    <label for="login-email">Email:</label>
    <input class="form-control" type="email" id="signin-email" required>
    <label for='password'>Password:</label>
    <input class="form-control" type="password" id='signin-password' required>
    <button type="submit" id="submit-signin-btn" aria-label="sign in">Sign In</button>
  </div>
</form>

</section>

<script src="scripts/index.js"></script>
<script src="scripts/auth.js"></script> 