<h1 tabindex='-1' heorkuclass='content-title' id='content-title'>Sign In<br></h1>

<form class='form' aria-label='sign in form with email and password' id='signin-form' role='form'>
  <div class='form-group'>
    <label for='login-email'>Email:</label>
    <input aria-label='enter email' class='form-control' type='email' id='signin-email' autocomplete="new-email"  required\>
    <label for='password'>Password:</label>
    <input aria-label='enter password' class='form-control' type='password' id='signin-password' autocomplete="new-password"  required\>
    <div class='form-btn-container'>
      <button type='submit' class='btn btn-primary glyphicon glyphicon-arrow-right' id='submit-signin-btn' aria-label='sign in'></button>
    </div>
  </div>
</form>

<footer class='nav-buttons'>
  <button aria-label='back' id='back-to-index'>
    <span class='glyphicon glyphicon-arrow-left' aria-hidden='true'></span>
  </button>
  <button aria-label='sign out' class='logged-in pull-right' id='signout-btn'>
    <span class='glyphicon glyphicon-log-out' aria-hidden='true'></span>
  </button>
</footer>

<script src='scripts/auth.js'></script>
<script src='scripts/app.js'></script> 
<script src='scripts/index.js'></script>
<script src='scripts/alert_plugin.js'></script>
