<h1 class="content-title" id="content-title">Sign In<br></h1>

<form class="form" id="signin-form">
  <div class="form-group">
    <label for="login-email">Email:</label>
    <input class="form-control" type="email" id="signin-email" required>
    <label for='password'>Password:</label>
    <input class="form-control" type="password" id='signin-password' required>
    <button type="submit" id="submit-signin-btn" aria-label="sign in">Sign In</button>
  </div>
</form>

<script src="scripts/index.js"></script>
<script src="scripts/auth.js"></script>
<script src="scripts/app.js"></script> 